/* ---------------------------------------------------------------------------------------------------------------- */
/* Footer Links & Pages */ 
/* ---------------------------------------------------------------------------------------------------------------- */
    
    body {
        background-color: black;
    }
        /* ----------------------*/
        /*  Portfolio Updates Page */ 
        /* /* ------------------ */

        .mainHeadingTitle {
            color:white;
        }  
        .portfolioUpdatesDiv {
            color: white;
        }